body {
    background-color: aliceblue;
}

nav {
    background-color: aquamarine;

}

.page-footer {
    min-width: 100%;
    margin-bottom: -80px
}

.page-footer:after {
    content: "";
    display: block;
    height:80px;
}

footer {
    width: 100%;
    height: 80px;
    bottom: 0;
    background-color: darkslateblue;
    line-height: 80px;
    text-align: center;
}


    


